.leftSide{
    display: inline;
    
}
.leftSide> span{
    margin-left: 5px;
    cursor: pointer;
    color:gray;
}
i{
    color:gray;
}

.textLink{
    width: 50px;
   
}
.textLink >i{
    margin-left: 0px;
}