/* .newList{
    height: 76px;
    width: ;
    border:none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    margin-top:20px ;
   
   background-color:rgb(233, 232, 232);


}
.newList:hover{
    background-color:#0af;
    color: #FFF;
    cursor: pointer;   
} */
