.wrap_container {
  max-width: 500px;
  padding: 50px;
  border: 1px solid green;
}

.wrap2 {
  border: 1px solid green;
}

.titleReg {
  font-size: 30px;
  text-align: center;
}
.form-outline {
  border: 1px solid red;
}

.checkAccount {
  margin: 0 auto;
  width: 400px;
  height: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-check {
  margin-top: 9px;
  width: 30px;
  cursor: pointer;
}

.newSize{
  width:350px;
}